h1{
    color: maroon;
    background-color: beige;
    font-family:Serif;
    font-size: 1em;
    text-align: center;
}
h2{
    color: brown;
    background-color: aqua;
    font-family:Serif;
    font-size: 2em;
    text-align: center;
}